<!DOCTYPE html>
    <html lang="en">
      <head>
        <title>About Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <style>
          <!--
          .topnav{
            background-color: #C7BA7C;
            overflow:hidden;
          }
          .topnav a{
            float:left;
            color:#000000;
            text-align: center;
            padding: 10px 14px;
            text-decoration: none;
            font-size: 17px;
          }
          .topnav a:hover {
            background-color: #CFbf5C;
            color: black;
          }
          .topnav input{
            float:left;
            color:#000000;
            background-color: #C7BA7C;
            display: inline-block;
            text-align: center;
            padding: 10px 14px;
            text-decoration: none;
            font-size: 17px;
            border: none;
          }
          .topnav input:hover {
            background-color: #CFbf5C;
            color: black;
          }
      </style>
      </head>
      <body style="background-color:#000000">
        <div class="topnav">
          <form action="/">
            <input type="submit" name="home" value="Home">
          </form>
          <a class="active"href="#here">About</a>
        </div>
        <div class="container-fluid">
          <br>
          <h1 style="text-align: center;color:#C7BA7C;font-family:georgia">About Our Application</h1>
          <br>
          <br>
          <div class="card mx-auto" style="width: 50rem;">
            <div class="card-body">
              <p>TutorTaker is a online application that provides an easy way to connect students and tutors. Tutors and students can create profiles and connect based on subjects, ratings, locations and a variety of other factors. It will help tutors to have an easier way to publicize their names, allowing them to focus on tutoring rather than outreach. It is a one place stop and shop for students to view all available tutors in their area and allow them to filter their preferences to be best suited for them.
              </p>
              <br>
              <p> Students searching for a tutor will be able to filter through tutors based on location and subject. Once they have filtered down, they will then be able to view profiles of tutors and see their preferred pronouns, style of tutoring (in person, video chat, instant message), payment option, price, location, ratings, subjects, picture, and education (major, degree etc.). Once a student has found a tutor they’re interested in they can message them. From there a tutor can view the students profile and see similar information and decide if they will take on the student.
              </p>
            </div>
          </div>
        </div>
      </body>
    </html>
