<!DOCTYPE html>
    <html lang="en">
      <head>
        <title>Edit Profile</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

        <style>
          <!--
          .topnav{
            background-color: #C7BA7C;
            overflow:hidden;
          }
          .topnav a{
            float:left;
            color:#000000;
            text-align: center;
            padding: 10px 14px;
            text-decoration: none;
            font-size: 17px;
          }
          .topnav a:hover {
            background-color: #CFbf5C;
            color: black;
          }
          .topnav input{
            float:left;
            color:#000000;
            background-color: #C7BA7C;
            display: inline-block;
            text-align: center;
            padding: 10px 14px;
            text-decoration: none;
            font-size: 17px;
            border: none;
          }
          .topnav input:hover {
            background-color: #CFbf5C;
            color: black;
          }
      </style>
      </head>
      <body style="background-color:#000000">
        <div class="topnav" >
          <form action="/profile" >
          <form action="/" >
            <input type="submit" name="home" value="Home">
          </form>
          <form action="/About">
            <input type="submit" name="About" value="About">
          </form>
        </div>
        <div class="container-fluid">
          <br>
          <h1 style="text-align: center;color:#C7BA7C;font-family:georgia">Edit Profile</h1>
          <br>
          <br>
          <div class="card mx-auto" style="width: 30rem;">
            <div class="card-body">
              <form action="/editBio/valid" method="POST" onsubmit="formDone();" name="regForm" id="regForm" >
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="validationFName" class="h6">First Name</label>
                      <input name="fName" class="form-control" id="fName" placeholder="First Name">

                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="validationLName" class="h6">Last Name</label>
                      <input name= "lName" class="form-control" id="lName" placeholder="Last Name">

                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="pronouns" class="h6">Preferred Pronouns</label>
                  <select name="pronouns" class="form-control" id="pronouns">
                    <option value="">Select Your Pronouns</option>
                    <option value="he">he/him/his</option>
                    <option value="she">she/her/hers</option>
                    <option value="they">they/them/theirs</option>
                    <option value="ze">ze/hir/hirs</option>
                    <option value="no">Prefer not to say</option>
                  </select>

                </div>
                <div class="form-group">
                  <label for="validationSchool" class="h6">School</label>
                  <select name="school" class="form-control" id="schoolSelect">
                    <option value="">Select a School</option>
                    <option value="CU - Boulder">CU - Boulder</option>
                    <option value="UT - Arlington">UT - Arlington</option>
                  </select>

                <div class="form-group">
                    <label for="validationSubject" class="h6">Year</label>
                    <select name="subjectStatus" class="form-control" id="subjectStatus">
                      <option value="">Select a Year</option>
                      <option value="Math">Freshmen</option>
                      <option value="Physics">Sophomore</option>
                      <option value="Computer Science">Junior</option>
                      <option value="English">Senior</option>
                    </select>
                  </div>

                </div>
                 <div class="form-group">
                    <label for="validationSubject" class="h6">Subject</label>
                    <select name="subjectStatus" class="form-control" id="subjectStatus">
                      <option value="">Select a Subject</option>
                      <option value="Math">Math</option>
                      <option value="Physics">Physics</option>
                      <option value="Computer Science">Computer Science</option>
                      <option value="English">English</option>
                    </select>
                  </div>
                
                <div class="form-group">
                  <label for="bio" class="h6">Bio</label>
                  <textarea name="bio" class="form-control" rows="5" placeholder="Tell us something about yourself"></textarea>
                </div>
                  <br>
                <div class=" form-group">
                  <div class="mt-3">
                    <button id="submit_button" type="submit" class="btn btn-dark btn-block">Submit</button>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </body>
