<!DOCTYPE html>
    <html lang="en">
      <head>
        <title>Feedback</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <style>
          <!--
          .topnav{
            background-color: #C7BA7C;
            overflow:hidden;
          }
          .topnav a{
            float:left;
            color:#000000;
            text-align: center;
            padding: 10px 14px;
            text-decoration: none;
            font-size: 17px;
          }
          .topnav a:hover {
            background-color: #CFbf5C;
            color: black;
          }
          .topnav input{
            float:left;
            color:#000000;
            background-color: #C7BA7C;
            display: inline-block;
            text-align: center;
            padding: 10px 14px;
            text-decoration: none;
            font-size: 17px;
            border: none;
          }
          .topnav input:hover {
            background-color: #CFbf5C;
            color: black;
          }
      </style>
      </head>
      <body style="background-color:#000000">
        <div class="topnav">
          <form action="/profile">
            <input type="submit" name="Home" value="Home">
          </form>
          <a class="active"href="#about">About</a>
          <form action="/tutor-finder">
            <input type="submit" name="Find a Tutor" value="Find a Tutor">
          </form>
          <form action="/About">
            <input type="submit" name="About" value="About">
          </form>
        </div>
      <div class ="container-fluid">
        <div class="card mx-auto" style="width: 30rem;">
          <div class="card-body">
            <form action="/feedback/submitted" method="POST" name="feedbackForm" id="feedbackForm">
              <label>Feedback</label>
              <input type="number" name="studentID" style="visibility: hidden" value=<%= user.id %>>
              <textarea type="text" name="feedback" class="form-control" rows="10" placehoder="Leave Feedback" required></textarea>
              <label>Rating</label>
              <input type="number" name="rating" class="form-control" min="0" max="10" required="">
              <br>
              <br>
              <center><input class="btn btn-lg btn-dark" type="submit" value="Submit"></input></center>
            </form>
          </div>
        </div>
      </body>