<!DOCTYPE html>
    <html lang="en">
      <head>
        <title>Registration Page</title>
        <meta charset="utf-8">
    		<meta name="viewport" content="width=device-width, initial-scale=1">
    		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="../../resources/js/regPageJS.js"></script>
        <style>
          <!--
          .topnav{
            background-color: #C7BA7C;
            overflow:hidden;
          }
          .topnav a{
            float:left;
            color:#000000;
            text-align: center;
            padding: 10px 14px;
            text-decoration: none;
            font-size: 17px;
          }
          .topnav a:hover {
            background-color: #CFbf5C;
            color: black;
          }
          .topnav input{
            float:left;
            color:#000000;
            background-color: #C7BA7C;
            display: inline-block;
            text-align: center;
            padding: 10px 14px;
            text-decoration: none;
            font-size: 17px;
            border: none;
          }
          .topnav input:hover {
            background-color: #CFbf5C;
            color: black;
          }

      </style>
      </head>
      <body style="background-color:#000000">
        <div class="topnav" >
          <form action="/" >
            <input type="submit" name="home" value="Home">
          </form>
          <form action="/About">
            <input type="submit" name="About" value="About">
          </form>
        </div>
        <div class="container-fluid">
          <br>
          <h1 style="text-align: center;color:#C7BA7C;font-family:georgia">Account Creation</h1>
          <br>
          <br>
          <div class="card mx-auto" style="width: 30rem;">
            <div class="card-body">
              <form action="/regPage/valid" method="POST" onsubmit="formDone();" name="regForm" id="regForm" >
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="validationFName" class="h6">First Name</label>
                      <input name="fName" class="form-control" id="fName" placeholder="First Name" required>
                      <span class="error"><small id="fNameError" style="color:red"></small></span>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label for="validationLName" class="h6">Last Name</label>
                      <input name= "lName" class="form-control" id="lName" placeholder="Last Name" required>
                      <span><small id="lNameError" style="color:red"></small></span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="pronouns" class="h6">Preffered Prnouns</label>
                  <select name="pronouns" class="form-control" id="pronouns" required>
                    <option value="">Select Your Pronouns</option>
                    <option value="he">he/him/his</option>
                    <option value="she">she/her/hers</option>
                    <option value="they">they/them/theirs</option>
                    <option value="ze">ze/hir/hirs</option>
                    <option value="no">Prefer not to say</option>
                  </select>
                  <span class="error"><small id="pronounsError" style="color:red"></small></span>
                </div>
                <div class="form-group">
                  <label for="validationSchool" class="h6">School</label>
                  <select name="school" class="form-control" id="schoolSelect" required>
                    <option value="">Select a School</option>
                    <option value="CU - Boulder">CU - Boulder</option>
                    <option value="UT - Arlington">UT - Arlington</option>
                  </select>
                  <span class="error"><small id="schoolError" style="color:red"></small></span>
                </div>
                <p class="h6">Select Role</p>
                <div class="form-check form-check-inline">
                  <input name="studentStatus" class="form-check-input" type="checkbox" id="studentStatus" value="None">
                  <label class="form-check-label" for="student">Student</label>
                </div>
                <div class="form-check form-check-inline">
                  <input name="tutorStatus" class="form-check-input" onclick ="tutorInfo('tutorCard', 1);" type="checkbox" name = "tutorStatus" id="tutorStatus">
                  <label class="form-check-label" for="tutorCheck">Tutor</label>
                </div>
                <span class="error"><small id="typeStatus" style="color:red"></small></span>
                <div class="card card-body" style="display:none;" id="tutorCard">
                  <div class="form-group" id="tutorForm">
                    <label for="validationSchool" class="h6">What Year Are You?</label>
                    <select name="yearStatus" class="form-control" id="yearStatus">
                      <option value="">Select a Year</option>
                      <option value="Freshman">Freshman</option>
                      <option value="Sophomore">Sophomore</option>
                      <option value="Junior">Junior</option>
                      <option value="Senior">Senior</option>
                    </select>
                    <span class="error"><small id="yearError" style="color:red"></small></span>
                  </div>
                  <div class="form-group">
                    <label for="validationSubject" class="h6">What Subject?</label>
                    <select name="subjectStatus" class="form-control" id="subjectStatus">
                      <option value="">Select a Subject</option>
                      <option value="Math">Math</option>
                      <option value="Physics">Physics</option>
                      <option value="Computer Science">Computer Science</option>
                      <option value="English">English</option>
                    </select>
                    <span class="error"><small id="subjectError" style="color:red"></small></span>
                  </div>
                  <div class="form-group">
                    <label for="hourlyWage" class="h6">Enter Your Hourly Price</label>
                    <input name="wage" class="form-control" id="wage" placeholder="$0.00">
                  </div>
                </div>
                <br>
                <br>
                <div class="form-group">
                  <label for="emailAddress" class="h6">Student E-mail</label>
                  <input name="email" type="email" class="form-control" id="email" placeholder="example@school.edu" required>
                  <span class="error"><small id="emailError" style="color:red"></small></span>
                </div>
                <div class="form-group">
                  <label for="username" class="h6">Username</label>
                  <input type="text" class="form-control" id="username" name ="username" placeholder="Username" required>
                  <span class="error"><small id="usernameError" style="color:red"></small></span>
                </div>
                <div class="form-group">
                  <label for="pWord" class="h6">Password</label>
                  <input name="password" type="password" class="form-control" id="password" placeholder="Password" required>
                  <small id="passwordHelpBlock" class="form-text text-muted">
                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.

                  </small>
                  <span class="error"><small id="passError" style="color:red"></small></span>
                </div>
                <div class="form-group">
                  <label for="pWordC" class="h6">Confirm Password</label>
                  <input type="password" class="form-control" id="cPassword" placeholder="Confirm Password" required>
                  <span class="error"><small id="cPassError" style="color:red"></small></span>
                </div>
                <br>
                <div class="mt-3">
                  <button id="submit_button" type="submit" class="btn btn-dark btn-block">Submit</button>
                </div>
            </div>
          </div>
        </div>
      </body>
