<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
</head>
  <body style="background-color:#000000">
    <div class="topnav">
      <a class="active"href="#Profile">Profile</a>
      <a class="active"href="#about">About</a>
    </div>
    <div class="container-fluid">
      <br>
      <h1 style="text-align: center;color:#C7BA7C;font-family:georgia">Find a Tutor</h1>
      <div class="form-group">
        <form action="/tutor-finder/filter" method="GET">
          <label for="filterType" style="color:#C7BA7C;font-family:georgia" class="h6">Filter</label>
          <select name="filterChoice" class="custom-select" id="filterType" onchange="this.form.submit()">
            <option>Select a Filter</option>
            <option value="1">Alphabetical</option>
            <option value="2">Rating</option>
            <option value="3">Major</option>
          </select>

        </form>
        <table style="width: 100%;color:#C7BA7C;font-family:georgia"> 
          <tr>
            <th>Name</th>
            <th>Rating</th>
            <th>Subject</th>
          </tr>
        <% for (var i = 0;i < tutors.length; i++) { %>
          <tr>
            <td name="studentChoice" value=<%= tutors[i].id %>><form action="/userProfile"><input type="submit" name="Test"></input></form></td> <!-- <%= tutors[i].firstname + " " + tutors[i].lastname  %> -->
            <td><%= tutors[i].rating %></td>
            <td ><%= tutors[i].subjects %></td>
          </tr>
        <% } %>
        </table>    
      </div>
    </div>
  </body>
</html>