<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/header %>
</head>
  <body style="background-color:#000000">
    <div class="topnav">
      <a class="active"href="#Profile">Profile</a>
      <a class="active"href="#about">About</a>
    </div>
    <div class="container-fluid">
      <br>
      <h1 style="text-align: center;color:#C7BA7C;font-family:georgia">Find a Tutor</h1>
      <div class="form-group" action="/searchPage" method="GET">
        <label for="filterType" style="color:#C7BA7C;font-family:georgia" class="h6">Filter</label>
        <select class="form-control" id="filterType">
          <option value="">Select a Filter</option>
          <option value="1" onchange="this.form.submit()">Alphabetical</option>
          <option value="2" onchange="this.form.submit()">Rating</option>
          <option value="3" onchange="this.form.submit()">Major</option>
        </select>
        <table style="width: 100%;color:#C7BA7C;font-family:georgia"> 
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Rating</th>
          </tr>
          <tr>
            <td><%= result_1.firstName%></td>
          </tr>
        </table>    
      </div>
    </div>
  </body>
</html>