<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/header %>
  <style>
    .c-drop{
      background-color: black;
      color: #C7BA7C;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
      appearance: none;
      display: block;
      width: 100%;
    }
    .c-drop-cont{
      display: block;
      visibility: visible;
      position: absolute;
      background-color: none;
      width: 100%;
      z-index: 1;
      color: #C7BA7C;
      padding: 12px 16px;
      text-decoration: none;
    }
    .topnav{
      background-color: #C7BA7C;
      overflow:hidden;
    }
    .topnav a{
      float:left;
      color:#000000;
      text-align: center;
      padding: 10px 14px;
      text-decoration: none;
      font-size: 17px;
    }
    .topnav a:hover {
      background-color: #CFbf5C;
      color: black;
    }
    .topnav input{
      float:left;
      color:#000000;
      background-color: #C7BA7C;
      display: inline-block;
      text-align: center;
      padding: 10px 14px;
      text-decoration: none;
      font-size: 17px;
      border: none;
    }
    .topnav input:hover {
      background-color: #CFbf5C;
      color: black;
    }

  </style>
</head>
  <body style="background-color:#000000">
    <div class="topnav">
      <form action="/Profile">
        <input type="submit" name="Profile" value="Profile">
      </form>
    </div>
    <div class="container-fluid">
      <br>
      <h1 style="text-align: center;color:#C7BA7C;font-family:georgia">Find a Tutor</h1>
      <div class="form-group">
        <form action="/tutor-finder/filter" method="GET">
          <label for="filterType" style="color:#C7BA7C;font-family:georgia" class="h6">Filter</label>
          <select name="filterChoice" class="form-control" id="filterType" onchange="this.form.submit()">
            <option>Select a Filter</option>
            <option value="1">Alphabetical</option>
            <option value="2">Rating</option>
            <option value="3">Major</option>
          </select>
        </form>
        <form action="/userProfile">
          <select name="studentID" id="tutorDropDown" class="c-drop"onchange="this.form.submit()">
              <option class="c-drop-cont">Select a Tutor</option>
            <% for (var i = 0;i < tutors.length; i++) { %>
              <% console.log(tutors[i].id) %>
              <option class="c-drop-cont" value=<%= tutors[i].id %>><%= "Name: " + tutors[i].firstname + " " +  tutors[i].lastname + "\t" + "Rating: " + tutors[i].rating + "\t" + "Major: " + tutors[i].subjects%></option>
            <% } %>
            </div>
          </select>
        </form>
      </div>
    </div>
  </body>
</html>
